:root {
  --primary-color: #222;
  --secondary-color: #f7f7f7;
}

body {
  background-color: rgb(228, 186, 138);
}

.container {
  padding: 30px 50px 10px 50px;
  border-radius: 10px;
  background: rgba(247, 247, 247, 0.4);
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  max-width: 50em;
  margin: 4em auto;
  margin-bottom: 0;
  backdrop-filter: blur(33px);
  box-shadow: 5px 5px 30px rgba(34, 34, 34, 0.302);
  /*backdrop-filter: brightness(60%);*/
}

input,
button {
  border: 0;
  opacity: 0.8;
}

h1 {
  font-weight: 500;
  font-size: 3em;
  line-height: 0.75;
  color: var(--primary-color);
  margin: 10px 0 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-color);
  margin: 10px 0 0;
}

.current-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#current-feel {
  font-weight: 800;
  font-size: 3em;
  line-height: 0.75;
}

#temp-unit {
  font-size: 1em;
}

.image-credit {
  font-size: xx-small;
}

footer {
  padding: 1em;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  font-size: smaller;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.coder {
  font-family: monospace;
  text-align: center;
  margin-top: 1em;
}
